html {
	box-sizing: border-box;
	
	font-family: 'Roboto', sans-serif;
	font-size: 100%/1.5rem;
	color: #141414;
	background-color: #f5f5f5;

	overflow-y: scroll;
}

*, *:before, *:after {
	box-sizing: inherit;
}

::selection {
	background-color: #3297fd;
	text-shadow: none;
}

html, body {
	margin: 0;
	padding: 0;
 	min-height: 100vh;
}

.hide {
	display: none !important;
}

header, main, footer {
	padding: 1.5rem;
}

main {
	background-color: #fff;
}

h1 {
	font-size: 1.5rem;
	margin: 0;
	font-weight: 400;
}

a.home, a.home:visited {
	display: block;
	font-size: 1rem;
	margin: 0 0 .1rem 0;
	font-weight: 400;
	width: auto;
	color: #141414;
	text-decoration: underline;
	text-decoration-color: #ccc;
}

span.version {
	font-family: monospace;
	font-size: 1rem;
	color: #444;
}

div.taxonomy {
	display: grid;
	/*grid-template-columns: auto auto auto auto 1fr 1fr 1fr auto auto;*/
	/* NOW DEFINED IN taxonomy.js */
	grid-template-rows: rep(9, auto);
}

div.rowname, div.colname, div.cell {
	padding: 1rem;
	font-size: .8rem;
	z-index: 10;
}

div.rowname {
	width: 200px;
	grid-column: 2 / 3;
}

div.colname {
	grid-row: 2 / 3;	
}

div.swap-axes {
	grid-column: 1 / 3;
	grid-row: 1 / 3;
	font-variant: small-caps;
	cursor: pointer;
}

div.swap-axes:hover div span.swap-text {
	display: inline;
}

span.swap-text {
	display: none;
	color: #777;
}

span.swap-icon::after {
	display: inline-block;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    content: '\00292e';
    font-weight: 700;
}

div.row-title {
	padding: 0 1rem 0 0;
	grid-column: 1 / 2;
	grid-row: 3 / 10;
	justify-content: center;
	align-self: center;
}

div.col-title {
	padding: 0 0 1rem 0;
	grid-column: 3 / 10;
	grid-row: 1 / 2;
	text-align: center;
}



div.venn-col-left {
	grid-column: 5 / 7;
	grid-row: 3 / 9;
	z-index: 1;
	background-color: hsl(56.2, 94%, 75%);
	border-radius: .5rem;
}

div.venn-col-right {
	grid-column: 6 / 8;
	grid-row: 4 / 10;
	z-index: 1;
	background-color: hsl(200.2, 84.3%, 90%);
	border-radius: .5rem;
}

div.venn-col-overlap {
	grid-column: 6 / 7;
	grid-row: 4 / 9;
	z-index: 2;
	background-color: hsl(74.3, 56.5%, 75%);
	border-radius: .5rem 0 .5rem 0;
}

div.venn-row-top {
	grid-column: 3 / 9;
	grid-row: 5 / 7;
	z-index: 1;
	background-color: hsl(333.1, 77.8%, 90%);
	border-radius: .5rem;
}

div.venn-row-bottom {
	grid-column: 4 / 10;
	grid-row: 6 / 8;
	z-index: 1;
	background-color: hsl(0, 0%, 95%);
	border-radius: .5rem;
}

div.venn-row-overlap {
	grid-column: 4 / 9;
	grid-row: 6 / 7;
	z-index: 2;
	background-color: hsl(333.1, 46%, 85%);
	border-radius: .5rem 0 .5rem 0;
}

div.venn-overlap {
	z-index: 3;
}

div.venn-overlap.row1.col1 {
	background-color: hsl(26.4, 79.9%, 85%);
}
div.venn-overlap.row1.col2 {
	background-color: hsl(31.4, 50.2%, 79%);
}
div.venn-overlap.row1.col3 {
	background-color: hsl(289.8, 27.7%, 86%);
}
div.venn-overlap.row2.col1 {
	background-color: hsl(27.8, 71.9%, 80%);
}
div.venn-overlap.row2.col2 {
	background-color: hsl(32.8, 51.4%, 73%);
}
div.venn-overlap.row2.col3 {
	background-color: hsl(289.2, 19.7%, 81%);
}
div.venn-overlap.row3.col1 {
	background-color: hsl(55.5, 79%, 75%);
}
div.venn-overlap.row3.col2 {
	background-color: hsl(74.4, 54.8%, 71%);
}
div.venn-overlap.row3.col3 {
	background-color: hsl(200.5, 45.3%, 85%);
}

div.venn-buffer {
	padding: .5rem;
}

div.venn-col-buffer-top-left {
	grid-column: 6 / 7;
	grid-row: 3 / 4;
}

div.venn-col-buffer-top-right {
	grid-column: 6 / 7;
	grid-row: 4 / 5;
}

div.venn-col-buffer-bottom-left {
	grid-column: 6 / 7;
	grid-row: 8 / 9;
}

div.venn-col-buffer-bottom-right {
	grid-column: 6 / 7;
	grid-row: 9 / 10;
}

div.venn-row-buffer-left-bottom {
	grid-column: 4 / 5;
	grid-row: 6 / 7;
}

div.venn-row-buffer-left-top {
	grid-column: 3 / 4;
	grid-row: 6 / 7;
}

div.venn-row-buffer-right-bottom {
	grid-column: 9 / 10;
	grid-row: 6 / 7;
}

div.venn-row-buffer-right-top {
	grid-column: 8 / 9;
	grid-row: 6 / 7;
}


.summary {
	z-index: 3;
	text-align: center;
	text-transform: uppercase;
	font-weight: 400;
	font-size: .8rem;
	padding: 5px;
}
.row-summary {
	writing-mode: vertical-rl;
	text-orientation: mixed;
	transform: rotate(180deg);
}

div.venn-col-left-summary {
	grid-column: 5 / 7;
	grid-row: 3 / 4;
	color: hsl(56.2, 94%, 30%);
}
div.venn-col-right-summary {
	grid-column: 6 / 8;
	grid-row: 4 / 5;
	color: hsl(200.2, 84.3%, 40%);
}
div.venn-row-top-summary {
	grid-column: 3 / 4;
	grid-row: 5 / 7;
	color: hsl(333.1, 77.8%, 60%);
}
div.venn-row-bottom-summary {
	grid-column: 4 / 5;
	grid-row: 6 / 8;
	color: hsl(0, 0%, 50%);
}

div.swapped div.venn-col-left-summary {
	color: hsl(333.1, 77.8%, 60%);
}
div.swapped div.venn-col-right-summary {
	color: hsl(0, 0%, 50%);
}
div.swapped div.venn-row-top-summary {
	color: hsl(56.2, 94%, 30%);
}
div.swapped div.venn-row-bottom-summary {
	color: hsl(200.2, 84.3%, 40%);
}




div.swapped div.venn-col-left {
	background-color: hsl(333.1, 77.8%, 90%);
}
div.swapped div.venn-col-right {
	background-color: hsl(0, 0%, 95%);
}
div.swapped div.venn-col-overlap {
	background-color: hsl(333.1, 46%, 85%);
}
div.swapped div.venn-row-top {
	background-color: hsl(56.2, 94%, 75%);
}
div.swapped div.venn-row-bottom {
	background-color: hsl(200.2, 84.3%, 90%);
}
div.swapped div.venn-row-overlap {
	background-color: hsl(74.3, 56.5%, 75%);
}
div.swapped div.venn-overlap.row1.col2 {
	background-color: hsl(27.8, 71.9%, 80%);
}
div.swapped div.venn-overlap.row1.col3 {
	background-color: hsl(55.5, 79%, 75%);
}
div.swapped div.venn-overlap.row2.col1 {
	background-color: hsl(31.4, 50.2%, 79%);
}
div.swapped div.venn-overlap.row2.col3 {
	background-color: hsl(74.4, 54.8%, 71%);
}
div.swapped div.venn-overlap.row3.col1 {
	background-color: hsl(289.8, 27.7%, 86%);
}
div.swapped div.venn-overlap.row3.col2 {
	background-color: hsl(289.2, 19.7%, 81%);
}






div.col1 {
	grid-column: 5 / 6;
}

div.col2 {
	grid-column: 6 / 7;
}

div.col3 {
	grid-column: 7 / 8;
}

div.row1 {
	grid-row: 5 / 6;
}

div.row2 {
	grid-row: 6 / 7;
}

div.row3 {
	grid-row: 7 / 8;
}



div.item {
	margin-bottom: .1rem;
}

div.bottom-border {
	border-bottom: 1px solid #141414;
}

div.right-border {
	border-right: 1px solid #141414;
}